---
layout: default
title: Thiamath's
---

<div class="container pt-lg-50 thiamath-index-page justify-content-evenly">
    <header class="text-center"><h1>Welcome to Thiamath's!</h1></header>

    <div class="container fs-5 mt-5">
        <p> > You are on a cozy tavern in the Internet.</p>

        <p> > Taking a look around, you see a lot of different people here.</p>

        <p> > You step to the bartender for a profitable conversation:</p>

        <div class="card d-inline-block fa-sm shadow-sm text-success">
            <div class="card-body">
                <p class="card-text">"Ahoy stranger, I'm Thiamath myself!<br>
                    Here is a bunch of things you can do here.<br>
                    What's your poison?"</p>
            </div>
        </div>
        <br>
        <br>

        <p>
            {% assign pages = site.pages | group_by: "menu" %}
            {% for item in pages %}
            {% if item.name != "" %}
            {% assign page = item.items.first %}
            <p><a href="{{ page.url }}" class="link-primary">{{ page.dialog[0] }}</a></p>
            {% endif %}
            {% endfor %}

        </p>
    </div>
</div>
