<div id="nescss">
    <header class="">
        <div class="container">
            <div class="nav-brand">
                <a href="/" class="brand-logo">Thiamath</a>
                {% assign pages = site.pages | group_by: "menu" %}
                {% for item in pages %}
                {% if item.name != "" %}
                {% assign page = item.items.first %}
                <a href="{{ page.url }}" class="nes-btn nav-link">{{ page.menu_short | default: page.menu }}</a>
                {% endif %}
                {% endfor %}
                {% for item in site.data.navbar %}
                <a href="{{ item.link }}" class="nes-btn nav-link">{{ item.short | default: item.name }}</a>
                {% endfor %}
            </div>
            <div class="social-buttons">
                <p>Share on SNS</p>
                <div class="share">
                    <a href='https://twitter.com/share?text={{ "Hey! check out this great blog!" | url_encode }}&url=https://thiamath.github.io'
                       target="_blank">
                        <i class="nes-icon twitter"></i>
                    </a>
                    <a href='https://www.facebook.com/sharer.php?u=https://thiamath.github.io&amp;t={{ "Hey! check out this great blog!" | url_encode }}'
                       target="_blank">
                        <i class="nes-icon facebook"></i>
                    </a>
                    <a href='https://www.linkedin.com/shareArticle?url=https%3A//thiamath.github.io&amp;title={{ "Hey! check out this great blog!" | url_encode }}'
                       target="_blank">
                        <i class="nes-icon linkedin"></i>
                    </a>
                    <a href="https://github.com/thiamath" target="_blank">
                        <i class="nes-icon github"></i>
                    </a>
                </div>
            </div>
        </div>
    </header>
</div>