<div id="nescss">
    <header class="">
        <div class="container">
            <div class="nav-brand">
                <a href="/" class="brand-logo">Thiamath</a>
                {% for item in site.data.navbar %}
                <a href="{{ item.link }}" class="nes-btn nav-link">{{ item.short | default: item.name }}</a>
                {% endfor %}
            </div>
            <div class="social-buttons">
                <p>Share on SNS</p>
                <div class="share">
                    <a href='https://twitter.com/share?text={{ "Hey! check out this great blog!" | url_encode }}&url=https://thiamath.github.io'
                       target="_blank">
                        <i class="nes-icon twitter"></i>
                    </a>
                    <a href="https://www.facebook.com/sharer.php?u=https://nostalgic-css.github.io/NES.css/&amp;t=NES.css%EF%BD%9CNES-style%20CSS%20Framework"
                       target="_blank">
                        <i class="nes-icon facebook"></i>
                    </a>
                    <a href="https://www.linkedin.com/shareArticle?url=https%3A//nostalgic-css.github.io/NES.css/&amp;title=NES.css%EF%BD%9CNES-style%20CSS%20Framework"
                       target="_blank">
                        <i class="nes-icon linkedin"></i>
                    </a>
                    <a href="https://github.com/nostalgic-css/NES.css" target="_blank">
                        <i class="nes-icon github"></i>
                    </a>
                </div>
            </div>
        </div>
    </header>
</div>