<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>

    {% case page.style  %}
        {% when "retro" %}
            {% include retro/head.html %}
        {% else %}
            {% include bootstrap/head.html %}
    {% endcase %}
</head>
<body>
    {% case page.style  %}
        {% when "retro" %}
            {% include retro/navbar.html %}
            {{ content }}
            {% include retro/footer.html %}
        {% else %}
            {% include bootstrap/navbar.html %}
            {{ content }}
            {% include bootstrap/footer.html %}
    {% endcase %}
</body>
</html>